// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1,
h2,
 {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: blue;
  text-align: center;
}

.title {
	margin-top:60px;
}
.nav {
  background-color:black;
  position:fixed;
  width:100%;
  top:0;
  float:right;
  height:35px;
	
}

.nav-left {
margin-top:7px;
padding:10px 40px;
float:right;
	
}

.nav-left li {
	float:left;
	padding: 0 10px 3px 0;
  	display: inline-block;
    color:#CCCCCC;
    list-style: none;
    
}

.nav-left a:hover {
	color: white;
	text-decoration:none;
	
}

.foot {
  background-color:black;
  width:100%;
  text-align:right;
  height:20px;
  padding-right:16px;
}